<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqtest.druid_mybatis.lqtest.dao.UserDao">
    <!-- 根据主键查询-->
    <select id="getById" resultType="com.lqtest.druid_mybatis.lqtest.entity.UserEntity" parameterType="java.lang.Integer">
        select  *
        from test
        where id = #{id}
    </select>
    <select id="getByFirstName" resultType="com.lqtest.druid_mybatis.lqtest.entity.UserEntity" parameterType="java.lang.String">
        select  *
        from test
        where first_name = #{name}
    </select>
    <insert id="insert" parameterType="com.lqtest.druid_mybatis.lqtest.entity.UserEntity">
    insert into test(id,magic_id,first_name,last_name)
    values(#{id},#{magicId},#{firstName},#{lastName})
    </insert>
</mapper>